html {
    height: 100%;
}
body {
    margin: auto;
    width: 100%;
    height: 100%;
}
body table{
    width: 100%;
    height: 14%;
}
body table tr{
    text-align: center;
}
body table tr:first-child{
    background-color: darkcyan;
}
body table tr td{
    border-style: inset;
}